
body { 
  background: url(../images/cardboard.gif);
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

span.translation, span.sentence { 
}

.entry .order { 
  color:  hsla(200, 30%, 50%, .8);
  font-size:small;
  font-style: italic;
}

span.translation { 
  display:block;
  color: hsla(0, 0%, 30%,.9);
}

.utterance.metaLang { 
  font-style: italic;
}
.utterance.targetLang { 
  font-weight: bold;
}

.glossLine {
	/*display: none*/
}

.wordView {
	text-align: center;
	display: inline-block;
	padding: 5px;
	border: solid #0000FF 1px;
}

.glossView {
	margin-right: 5px;
	display: inline-block;
	border: solid #AAAAAA 1px;
	padding: 5px;
}

.glossView .glossTarget {
	border-bottom: solid #CCCCCC 1px;
}

#entries { 
}

#card {
  background: white;
  position: fixed;
  margin: 1em;
  float:left;
  width: 40%;
  padding: 1em;
  -webkit-box-shadow: -5px 4px 6px 2px rgba(5, 5, 5, .2);
  -moz-box-shadow: -5px 4px 6px 2px rgba(5, 5, 5, .2);
  box-shadow: -5px 4px 6px 2px rgba(5, 5, 5, .2); 
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#card:hover {
  background: white;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}

#card nav:before {
  color: gray;
  content: '\2699'; /* gear */
}

#card input#sentence {
  font-weight: bold;
}
#card input {
  margin: .5em;
  width: 90%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  font-family: Helvetica;
  font-size: large;
}


#desk {
  border-top: 1px solid hsla(400, 100%, 40%, .5);
  overflow:hidden;
}

#desk nav#panels {
  width: 25px;
  display: flexbox;
  position:fixed;
  top:right;
  right:0;
}

#desk nav a {
  margin: 0 .5em 0  0;
  padding: 4px;
  color: hsla(0, 10%, 50%, .5);
  cursor: pointer;
}

#desk nav a:hover { 
  color: hsla(0, 100%, 0%, 1);
  text-shadow: -2px 2px 2px  hsla(0, 100%, 0%, .4);
}

#languageChooser {
}

.modal {
  position: fixed;
  visibility: hidden;
  background: hsla(80,10%,30%, .8);
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

.modal ul {
  width:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
}


#notebook {
  display:block;
  float:right;
  min-height: 500px;
  height: 50%;
  width: 50%;

  line-height: 150%;

  border: 1px solid hsl(39, 50%, 41%);
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-radius: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  margin-right: 2em;

  background:white;
}

#notebook #controls { 
  text-align:right; 
  padding: 0 1em; 
  float:right;
}

#notebook #controls a { 
  cursor: pointer;
}

.entry { 
  border-right: 1px dashed lightblue;
  padding: 0;
  width: 90%;
  overflow:auto;
  border-bottom:  1px solid hsla(200, 80%, 90%, 1);
}

.entry nav { 
  text-align:right;
  width: 2em;
  float:left;
  padding: 0 .5em;
}

.entry .gloss { 
  float:left;
  width: 60%;
  padding: 0 .5em;
  margin-left: 2em;
}

.entry nav button { 
  background:none;
  border:none;
  font-size:large;
  font-weight: bold;
  color:   hsla(255, 50%, 75%, .5);
}

.entry nav button:hover { 
  cursor: pointer;
  color:  red;
}

#toolbox { 
  display: none;

  background: -moz-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: white;
  padding: 1em 0 0 0;
  margin: 0;
  padding:1em 0 0 1em ;
}

#toolbox nav button { 
  background: white;
  border:none;
  -moz-box-shadow: inset 0 -2px 2px hsla(100, 0%, 60%, .5);
  -webkit-box-shadow: inset 0 -2px 2px hsla(100, 0%, 60%, .5);
  box-shadow: inset 0 -2px 2px hsla(100, 0%, 60%, .5);
  padding: 1em;
  margin-right: .5em 0 0 .5em;
  display:inline;
  position:relative;
}

#toolbox nav button.language { 
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


#help { 
  display:none;
}

#importer {
  position: fixed;
  display: none;
  background: hsla(80,10%,30%, .8);
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

#importer div {
  width:800px;
  min-height:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
}
