body { 
  background: url(../images/cardboard.gif);
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

span.translation, span.sentence { 
}

.entry .order { 
  color:  hsla(200, 30%, 50%, .8);
  font-size:small;
  font-style: italic;
  margin-left: -2em;
}

span.sentence { 
}

.entry { 
  overflow:auto;
  border-bottom:  1px solid hsla(200, 80%, 90%, 1);
  padding-left: 2em;
}

span.translation { 
  display:block;
  color: hsla(0, 0%, 30%,.9);
}

.translation { 
  font-style: italic;
}
.sentence { 
  font-weight: bold;
}

#sentences { 
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  padding: 1em;
}

#sentences > div { 
  -moz-box-align:stretch;
  width: 90%;
}

#card {
  background: white;
  position: relative;
  margin: 1em;
  float:right;
  width: 40%;
  padding: 1em;
  -webkit-box-shadow: -5px 4px 6px 2px rgba(5, 5, 5, .2);
  -moz-box-shadow: -5px 4px 6px 2px rgba(5, 5, 5, .2);
  box-shadow: -5px 4px 6px 2px rgba(5, 5, 5, .2); 
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#card:hover {
  background: white;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}

#card nav:before {
  color: gray;
  content: '\2699'; /* gear */
}

#card input {
  margin: .5em;
  width: 90%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  font-family: Helvetica;
  font-size: large;
}


#desk {
  border-top: 1px solid hsla(400, 100%, 40%, .5);
  padding: 1em;
}

#toggleToolbox {
  float:left;
  margin: 0 .5em 0  0;
  padding: 4px;
  color: hsla(0, 10%, 50%, .5);
}

#toggleToolbox:hover {
  color: hsla(0, 100%, 0%, 1);
  text-shadow: -2px 2px 2px  hsla(0, 100%, 0%, .4);
  cursor: pointer;
}

#search_box{
  display:none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  font-size: large;
  float:right;
  top: 30em;
  width: 80%;
}

#notebook {
  display:block;
  float:left;

  min-height: 500px;
  height: 50%;
  width: 50%;

  line-height: 150%;

  border: 1px solid hsl(39, 50%, 41%);
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-radius: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;


  background:white;
}

#notebook #search_sentences:after{
  background: url(../images/magnify.png) right center no-repeat;
  display: inline-block;
  width: 2em;
}


.entry:hover { 
  border-bottom: 1px dotted hsla(255, 10%, 90%, .5);
  cursor: pointer;
}

.entry { 
  border-bottom: 1px dotted hsla(255, 100%, 100%, .5);
}

.sentence-destroy:hover { 
  cursor: pointer;
  color: hsla(0, 100%, 80%, 1);
}

.sentence-destroy { 
  width: 1em; 
  color:hsla(255, 10%, 90%, .5);
  font-weight: bold;
  float:right;
  display:inline-block;
  background:none;
  border:none;
  font-size:x-large;
  text-align:center;
}

#toolbox { 
  display: none;

  background: -moz-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: white;
  padding: 1em 0 0 0;
}

#toolbox ul { 
  margin: 0;
  padding:1em;
}

#toolbox ul li { 
  background: white;

-moz-box-shadow: inset 0 -2px 2px hsla(100, 0%, 60%, .5);
-webkit-box-shadow: inset 0 -2px 2px hsla(100, 0%, 60%, .5);
box-shadow: inset 0 -2px 2px hsla(100, 0%, 60%, .5);
  border-top: 1px solid hsla(0, 100%, 50%, .5);
  padding: 1em;
  margin-top: .5em;
  margin-right: .5em;
  display:inline;
}

#toolbox a { 
  text-decoration: none;
}

#help { 
  display:none;
}
