<!doctype html>
<html manifest=local.manifest>
<head>
  <title>Field Notebook</title>
  <meta charset=utf-8>

  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel=stylesheet href=css/style.css>

  <script src=js/lib/jquery.js></script>
  <script src=js/lib/underscore.js></script>
  <script src=js/lib/backbone.js></script>
  <script src=js/lib/backbone-localstorage.js></script>

  <script src=js/lang/textual.js></script>
  <script src=js/lang/pinyin.js></script>
  <script src=js/lang/language.js></script>

  <script src=js/notebook.js></script>

</head>
<body>

<script id="wordTemplate" type="text/html">
  <div class="wholeWord"><%= targetLang %></div>
  <div class="morphemes"></div>
</script>

<script id=entryTemplate type=text/html>
  <nav>
    <span class=order>#<%= order  %></span>
    <button class=entry-destroy title="delete this entry">&#X00D7;</button>
    <button class=entry-gloss title="edit gloss">&#X21C5;</button>
  </nav>
  <div class=gloss>
    <p class="utterance targetLang"><%= targetLang    %></p>
    <p class="glossLine"></p>
    <p class="utterance metaLang"><%= metaLang %></p>
  </div>
</script>

<script id="glossTemplate" type="text/html">
	<div class="glossTarget"><%= targetLang %></div>
	<div class="glossMeta"><%= metaLang || "&nbsp;" %></div>
</script>

<div id=toolbox>
  <nav>
    <button class=layout id=notebook-button>notebook</button>
    <button class=layout id=export-button>export</button>
  </nav>
</div>



<div id=desk>

  <div id=notebook>
    <div id=controls>
    </div>
    <div id=entries> 
    </div>
      <div id=card>
        <input class=entry id=sentence placeholder=sentence  >
        <input class=entry id=gloss placeholder="gloss" >
        <input class=translation  placeholder=translation id=translation >
      </div>

  </div>

</div><!-- #desk -->

</body>
</html>
