<!doctype html>
<html manifest=local.manifest>
<head>
  <title>Field Notebook</title>
  <meta charset=utf-8>

  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel=stylesheet href=css/style.css>

  <script src=js/lib/jquery.js></script>
  <script src=js/lib/underscore.js></script>
  <script src=js/lib/backbone.js></script>
  <script src=js/lib/backbone-localstorage.js></script>

  <script src=js/lang/textual.js></script>
  <script src=js/lang/pinyin.js></script>
  <script src=js/lang/language.js></script>

  <script src=js/notebook.js></script>

</head>
<body>

<script id=wordTemplate type=text/html>
  <li class=word><%= word %></li>
</script>

<script id=entryTemplate type=text/html>
  <nav>
    <span class=order>#<%= order  %></span>
    <button class=entry-destroy title="delete this entry">&#X00D7;</button>
    <button class=entry-gloss title="edit gloss">&#X21C5;</button>
  </nav>
  <div class=gloss>
    <p class=sentence><%= sentence    %></p> 
    <p class=translation><%= translation %></p>
  </div>
</script>

<div id=languageChooser class=modal>
  <ul id=languages>
    <li>Português
    <li>Mandarin
  </ul>
</div>

<div id=toolbox>
  <nav>
    <button data-code=cmn class=language id=chinese>Mandarin</button>
    <button data-code=kju class=language id=kashaya>Kashaya</button>
    <button data-code=por_BT class=language id=portuguese>Português</button>
    <button data-code=hus class=language id=teenek>Teenek</button>
    <button data-code=pli class=language id=pali>Pali</button>

    <button class=layout id=notebook-button>notebook</button>
    <button class=layout id=lexicon-button>lexicon</button>
    <button class=layout id=export-button>export</button>
    <button class=layout id=import-button>importer</button>
  </nav>
</div>



<div id=desk>

  <nav id=panels>
    <a title=toolbox id=toggleToolbox>&#x2699;</a>
  </nav>

  <ul id=lexicon>
  </ul>

  <div id=glosser>
  </div>

  <div id=importer>
    <div>
      <h1>import</h1>
    </div>
  </div>

  <div id=notebook>
    <div id=controls>
      <a id=toggleCard>&#x2710;</a>
    </div>
    <div id=entries> </div>
  </div>

  <div id=card>
    <input class=entry id=sentence placeholder=sentence  >
    <input class=entry id=gloss placeholder="gloss" >
    <input class=translation  placeholder=translation id=translation >
  </div>
</div><!-- #desk -->

</body>
</html>
