<!doctype html>
<html>
<head>
  <title>Field Notebook</title>
  <meta charset=utf-8>

  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel=stylesheet href=css/style.css>

  <script src=js/lib/jquery.js></script>
  <script src=js/lib/underscore.js></script>
  <script src=js/lib/backbone.js></script>
  <script src=js/lib/backbone-localstorage.js></script>
  
  <script src=js/lang/textual.js></script>
  <script src=js/lang/pinyin.js></script>
  <script src=js/lang/language.js></script>
  
  <script src=js/notebook.js></script>

</head>
<body>

<script id=wordTemplate type=text/html>
  <li class=word><%= word %></li>
</script>

<script id=sentenceTemplate type=text/html>
<p class=entry>
  <span class=order><%= order  %></span> 
  <span class=sentence><%= sentence    %></span> 
  <button class=sentence-destroy>x</button>
  <span class=translation><%= translation %></span>
</p>
</script>

<div id=toolbox>
  <ul>
    <li><a class=nav href=#about>about notebook</a>
    <li><a class=nav href=#project>project</a>
    <li><a class=nav href=#lexicon>lexicon</a>
  </ul>
</div>

<div id=desk>
  <a title=toolbox id=toggleToolbox>&#x2699;</a>

  <div id=help>
    <h1>important help</h1>
  </div>

  <ul id=lexicon>
  </ul>

  <div id=notebook>
    <div id=sentences> </div>
  </div>

  <div id=card>
    <input class=sentence id=sentence placeholder=sentence  >
    <input class=translation  placeholder=translation id=translation >
  </div>
</div><!-- #desk -->

</body>
</html>
